<header>
  <img class="w-100" <script src="images/bottomcircleUD.png"></script>
</header>

<div class="row">
    <div class="col-sm-6"> <!-- This line splits the page in half so that there are two seperate columns on the page-->
      <h1>My Profile</h1>
      <img class="w-100" src="images/ProfileIcon.png">
    </div>

    <div class="col-sm-6"> <!-- This is the other column made so that. I have done this to split up all of the information so the page does not look so cluttered -->
      <p></p>
      <p></p>
      <h2>Account Name</h2>
      <h3>Alex_Coghlan</h3>
      <p></p>
      <h2>Email Address</h2>
      <h3>alexcoghlan1001@gmail.com</h3>
      <p></p>
      <h2>Worst Procrastiation Habits</h2>
      <h3>Being Stuck in a Social Media loop for countless hours</h3>

      <a class="button button1" href="results">Weekly Results</a> <!-- I decided to use 'a' tags as they define a hyperlink for the app so it knows its going to send the user to a different page -->
      <a class="button button1" href="quiz">Let's Get Quizzical</a>
    </div>
  </div>


  <footer><img class="w-100" src="images/bottomcircle.png"></img></footer>
