<header><img class="w-100" src="images/bottomcircleUD.png"></img></header>

<div class="row">
    <div class="col-sm-6">
      <img class="w-100" src="images/UmmmAhhhLogo.png">
    </div>

    <div class="col-sm-6">
      <img class="w-100" src="images/ProfileIcon.png">
      <a class="button button1" href="/account/signup">Sign up</a>
      <a class="button button1" href="/account/signin">Sign In/Profile</a>
    </div>
  </div>

  <footer><img class="w-100" src="images/bottomcircle.png"></img></footer>
