<div class="row">
    <div class="col-sm-6"> <!-- This line splits the page in half so that there are two seperate columns on the page-->
  <h1>Let's Get Quizzical</h1>
  <p></p>
  <p></p>
  <h4>This Page is for you to complete a mini quiz on a specific topic. Once you have submitted the correct answers you will be sent
  to a social Media page where you will only have a small amount of time to browse that social media until you are brought back to the
UmmAhh Homepage.</h4>
</div>

  <div class="col-sm-6"> <!-- This is the other column made so that. I have done this to split up all of the information so the page does not look so cluttered -->
    <h1>Choose Your Type of Quiz</h1> <!-- This is where the user can select the type of quiz in order to proceed to the social media section. -->
    <p></p>
    <a class="button button1" href="riddles">Riddles</a> <!-- These 'a' tags send the user to the different quiz pages -->
    <a class="button button2" href="maths">Maths Questions</a>
    <a class="button button3" href="jokes">Jokes</a>
  </div>
</div>
