<header>
  <img class="w-100" <script src="images/bottomcircleUD.png"></script>
</header>

<div class="row">
  <div class="col-sm-6"> <!-- This line splits the page in half so that there are two seperate columns on the page-->
<h1>My Weekly Results</h1>
<p></p>
<p></p>
<h4>This is where you can review all of your progress from the past week and you are able to see how you can improve. It is where you are
able to see if you are a pro procrastinator and that you need to learn how to stick to a task, or whether you procrastinate on a smaller scale
and you only need to sort yourself out a little bit</h4>
<p></p>
<p></p>
<h4>But lets face it if you're here using our site... Then you probably need to sort yourself out and learn to finish a task instead of
doing anything but your main goal!!</h4>
<p></p>
<p></p>
<!-- <h4>By the looks of the chart to the right here... You need to learn to put your phone down and pick your pen up. You've procrastinated so much this
week we think it's time that you take a deep look at yourself in the mirror and sort your self out else there is no going back from the deep
dark hole that you've got yourself into.</h4> -->
</div>

<div class="col-sm-6"> <!-- This is the other column made so that. I have done this to split up all of the information so the page does not look so cluttered -->
<div class="chart"> <!-- This declares the bar chart on the right hand side of the page -->
  <div class="bar-1"></div> <!-- These following 7 lines show how many bars are going to be within the chart -->
  <div class="bar-2"></div>
  <div class="bar-3"></div>
  <div class="bar-4"></div>
  <div class="bar-5"></div>
  <div class="bar-6"></div>
  <div class="bar-7"></div>
</div>

<a class="button button1" href=dashboard>Profile</a> <!-- I decided to use 'a' tags as they define a hyperlink for the app so it knows its going to send the user to a different page -->
<a class="button button1" href="quiz">Let's Get Quizzical</a>

</div>

<footer><img class="w-100" src="images/bottomcircle.png"></img></footer>
